<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Search</title>
</head>
<body>
  <h1>Search</h1>
  <a href="/">Cancel</a>
  <form action="/search" method="GET">
    Name: <input name="name" type="text" placeholder="Name">
    <input type="submit" value="Submit Music">
  </form>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script type="text/javascript" src="public.js"></script>
</html>
